<div id="content">
<table>
    <tr>
        <td class="right-align">{{datoSendt}}</td>
    </tr>
    <tr>
        <td class="right-align">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Virksomhet:</td>
        <td>{{bedriftNavn}} </td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
</table>
<br />
<br />

## Dere må betale tilbake refusjon for lønnskompensasjon
<br />

{{#if varselSendtTidspunkt}}Vi varslet dere {{varselSendtTidspunkt}} om feilutbetalt refusjon for forskuttert lønn til permitterte ansatte.{{/if}}

Dere har rett til {{summertRefusjonsbelop}} kroner i refusjon for forskuttert lønn, men har fått {{forrigeBeløp}} kroner.
Det feilutbetalte beløpet er {{tilbakekrevingAttributter.bruttoBelop}} kroner.

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "DELVIS_TILBAKEKREVING"}}
Vi har kommet fram til at dere må betale tilbake deler av beløpet.
Det vil si {{tilbakekrevingAttributter.bruttoRedusertInnkrevingBelop}} kroner.
{{/eq}}

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_UTEN_RENTER"}}
Vi har kommet fram til at dere må betale tilbake hele beløpet.
Det vil si {{tilbakekrevingAttributter.bruttoBelop}} kroner.
{{/eq}}

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
Vi har kommet fram til at dere må betale tilbake hele beløpet inkludert et rentetillegg på 10 %.
Det vil si {{tilbakekrevingAttributter.bruttoMedRenter}} kroner.
{{/eq}}

#### Hvordan betale tilbake pengene dere skylder?
Dere vil i løpet av 3-7 dager motta et krav med informasjon om hvordan dere betaler tilbake det dere skylder.
Dere finner også mer informasjon om dette på <a href="www.nav.no/innkreving">www.nav.no/innkreving</a>.

#### Hvordan har vi kommet fram til dette?
<p>
{{{endringsbeskrivelse}}}
</p>

<br/>

Vedtaket er gjort etter reglene i lønnskompensasjonsforskriften, folketrygdloven § 22-15 og forvaltningsloven § 35.

I tabellen nedenfor finner du en oversikt over hvor mye refusjon dere har rett på for den enkelte ansatte. Merk at "Total refusjon til virksomheten" også inkluderer de ansatte dere fikk utbetalt refusjon for i det originale vedtaket.
<br />


#### Er det særlige grunner til å redusere beløpet?
<p>
{{{tilbakekrevingAttributter.saerligeGrunnerReduksjonBeskrivelse}}}
</p>

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
#### Renter
Vi har vurdert at dere har handlet grovt uaktsomt eller forsettlig fordi dere har gitt feilaktige eller mangelfulle opplysninger til NAV.
Derfor må dere betale et rentetillegg på 10%. Det vil si {{tilbakekrevingAttributter.renteBelop}} kroner i tillegg til det feilutbetalte beløpet.
Dette går fram av folketrygdloven § 22-17 a.
{{/eq}}

#### Dere har rett til å klage
Dere kan klage innen 6 uker fra dere mottar dette vedtaket. Klagen skal være skriftlig. Dere finner informasjon om klage på <a href="https://klage.nav.no/nb/korona/lonnskompensasjon">https://klage.nav.no/nb/korona/lonnskompensasjon</a>.

#### Har dere spørsmål?
Dere finner mer informasjon om lønnskompensasjon, refusjon og kvittering for innsendt søknadsskjema på: <a href="www.nav.no/lonnskompensasjon">www.nav.no/lonnskompensasjon</a>.

Dere kan også kontakte oss på <a href="https://arbeidsgiver.nav.no/kontakt-oss/">https://arbeidsgiver.nav.no/kontakt-oss/</a>
</br><br/>

Vennlig hilsen </br>
<table style="text-align: left;">
<tr class="vennlig-hilsen-row">
<td>{{fattetAvNavn}}</td>
<td>{{attestantNavn}}</td>
</tr>
<tr class="vennlig-hilsen-row">
<td>NAV Arbeid og ytelser lønnskompensasjon</td>
<td>NAV Arbeid og ytelser lønnskompensasjon</td>
</tr>
</table>
<br />
<br />

<div class="new_page"/>

### Informasjon om søkeren

<table>
    <tr>
        <td>Innrapportert fra:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td>Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
    <tr>
        <td>Kontaktperson:</td>
        <td>{{kontaktNavn}}</td>
    </tr>
    <tr>
        <td>Telefonnummer:</td>
        <td>{{kontaktTlf}}</td>
    </tr>
    <tr>
        <td>E-post:</td>
        <td>{{kontaktEpost}}</td>
    </tr>

</table>

### Oversikt over den nye beregningen av refusjon

<table border="1">
    <tr>
        <th>Fødselsnummer</th>
        <th>Navn</th>
        <th>Lønn per dag</th>
        <th>Permitterings- prosent</th>
        <th>Periode</th>
        <th>Refusjon til deres virksomhet</th>
        <th>Avkortet 6G</th>
    </tr>
    <!-- {{#each arbeidsforhold}} -->
    <tr>
        <td>{{this.fnr}}</td>
        <td>{{this.navn}}</td>
        <td>{{this.dagsats}}</td>
        <td>{{this.permitteringsprosent}}</td>
        <!-- {{#if this.harKravPaLoennskomp}} -->
        <td>{{this.periode}}</td>
        <!-- {{else}} -->
        <td>Oppfyller ikke vilkårene</td>
        <!-- {{/if}} -->
        <td>{{this.refusjonsbeløp}} kr</td>
        <td>{{this.overstiger6G}}</td>
    </tr>
    <!-- {{/each}} -->
    <tr>
        <td border="0" colspan="5">Total refusjon til virksomheten</td>
        <td><b>{{summertRefusjonsbelop}} kr</b></td>
    </tr>
</table>

