<table>
    <tr>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{navn}} </td>
    </tr>
    <tr>
        <td class="td02">Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
</table>
<br />
<br />

## Vi vurderer om du må betale tilbake lønnskompensasjon
<br />

Du fikk vedtak om lønnskompensasjon <b>{{forrigeVedtakDato}}</b>. Vi har fått nye opplysninger og har kommet fram til at du ikke har rett til lønnskompensasjon. Du har derfor fått utbetalt <b>{{ cut (cut differanseFraForrigeBeløp "-") "−"}}</b> kroner for mye.
<br />

Før vi avgjør om du skal betale tilbake, har du rett til å uttale deg. Dette må du gjøre innen <b>{{dato3UkerFremITid}}</b>.
<br />

Dette er kun et varsel om at vi vurderer å kreve tilbake det feilutbetalte beløpet.
<br/>

Det er ikke et vedtak om tilbakekreving. Dersom vi vedtar at du må betale tilbake hele eller deler av det feilutbetalte beløpet, trekker vi fra skatten på beløpet vi krever tilbake.
<br />

### Dette har skjedd i saken din
{{{endringsbeskrivelse}}}

### Dette legger vi vekt på i vurderingen vår

Når vi avgjør om du skal betale tilbake vurderer vi:

<ul class="font-size-13">
    <li>om du forstod eller burde forstått at beløpet du fikk utbetalt var feil</li>
    <li>om du har gitt riktig informasjon til NAV</li>
    <li>om du har gitt all informasjon til NAV i rett tid</li>
</ul>

Hvis vi skal kreve tilbake, vurderer vi om du skal betale tilbake hele eller deler av beløpet. Da vurderer vi

<ul class="font-size-13">
    <li>hvor lang tid det har gått siden lønnskompensasjonen ble feilutbetalt </li>
    <li>hvor stort det feilutbetalte beløpet er </li>
    <li>om feilen kan skyldes NAV</li>
</ul>

Selv om det er NAV som er skyld i feilutbetalingen, kan vi kreve at du betaler tilbake pengene.
<br />

Hvis du har gitt oss feil eller mangelfull informasjon, kan vi kreve at du betaler et rentetillegg på ti prosent av beløpet. Dette går frem av folketrygdloven §§ 22-15 og 22-17 a.
<br />

### Slik uttaler du deg
Du kan sende uttalelsen din ved å logge deg inn på nav.no/skrivtiloss og velg “Jobbsøker”.
Skal du sende vedlegg må du gå til nav.no/ettersendelse. Her finner du informasjon om hvordan du ettersender på papir.
<br />

### Hva skjer videre i saken din?
Etter fristen for din uttalelse vil vi vurdere saken og sende deg et vedtak. Dersom du må betale hele eller deler av beløpet,
vil vi også sende deg et tilbakekrevingsvedtak med informasjon om hvordan du skal betale tilbake.
<br />

### Har du spørsmål?
Du finner mer informasjon på www.nav.no/lønnskompensasjon.
Utbetalingen din og skattetrekket sjekker du på www.nav.no/utbetalinger.
Har du andre spørsmål, se hvordan du kan kontakte oss på www.nav.no/kontakt
<br /><br />

Vennlig hilsen
<br />
NAV
<br />
{{fattetAvNavn}}
<br /><br />

<div class="new_page" />

### Du fikk utbetalt lønnskompensasjon for følgende arbeidsforhold:
<table>
    <tr>
        <td>Arbeidsgiver:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td>Organisasjonsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
</table>
