<table>
    <tr>
        <td></td>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{navn}} </td>
    </tr>
    <tr>
        <td class="td02">Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
</table>

<br />
<br />

## Vi har endret lønnskompensasjonen din
<br />

Vi har mottatt nye opplysninger som viser at du fikk utbetalt <b>{{ cut (cut differanseFraForrigeBeløp "-") "−"}}</b> kroner for mye i
lønnskompensasjon. Vi har derfor endret vedtaket fra <b>{{forrigeVedtakDato}}</b>.
Du trenger ikke å betale tilbake det feilutbetalte beløpet.

<p>
{{{endringsbeskrivelse}}}
</p>

Vedtaket er gjort etter reglene i lønnskompensasjonsforskriften og folketrygdloven § 22-15.
<br />

#### Her finner du detaljene for beregningen

Vi har basert vedtaket på opplysninger om følgende arbeidsforhold.

<table>
    <tr>
        <td>Arbeidsgiver:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td>Organisasjonsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
    <tr>
        <td>Startdato permittering (dag 1):</td>
        <td>{{fom}}</td>
    </tr>
    <tr>
        <td>Sluttdato periode:</td>
        <td>{{tom}}</td>
    </tr>
</table>
<br />

Lønnen du har rett på er fordelt ut på hverdager, også hvis du normalt jobber lørdag og søndag.

<br />
<table border="1">
    <tr>
        <th>Dato</th>
        <th>Lønn per dag</th>
        <th>Permitterings- prosent</th>
        <th>Refundert til arbeidsgiver</th>
        <th>Avkorting 6G</th>
        <th>Lønn før skatt</th>
        <th></th>
    </tr>
    <!-- {{#each dagBeregninger}} -->
    <tr>
        <td>{{this.dato}}</td>
        <td>{{this.dagsats}}</td>
        <td>{{this.permitteringsgrad}}</td>
        <td>{{this.refusjonssbeløp}}</td>
        <td>{{this.overstiger6G}}</td>
        <td>{{this.lønnskompensasjonsbeløp}}</td>
        <td>{{this.dagtype}}</td>
    </tr>
    <!-- {{/each}} -->
    <tr>
        <td border="0" colspan="5">Sum</td>
        <td><b>{{totalKompensasjon}}</b></td>
    </tr>
</table>


#### Du har rett til å klage
Du kan klage innen seks uker fra du mottar dette vedtaket. Klagen skal være skriftlig og mest mulig konkret. Du kan
sende klagen til oss via <a href="https://klage-dittnav.nav.no/korona/lonnskompensasjon">klage.nav.no/korona/lonnskompensasjon</a>.
<br />

#### Har du spørsmål?
Du finner mer informasjon på <a href="https://www.nav.no/lønnskompensasjon">www.nav.no/lønnskompensasjon</a>

Utbetalingen din og skattetrekket sjekker du på <a href="https://www.nav.no/utbetalinger">www.nav.no/utbetalinger</a>.

Har du andre spørsmål, se hvordan du kan kontakte oss på <a href="https://www.nav.no/kontakt">www.nav.no/kontakt</a>
<br />
<br />

Vennlig hilsen
<br />
{{fattetAvNavn}}
<br />
NAV Arbeid og ytelser lønnskompensasjon
<br /><br />
