<table>
    <tr>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{navn}} </td>
    </tr>
    <tr>
        <td class="td02">Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
</table>

<br />
<br />

## Vi har avslått søknaden din om lønnskompensasjon
<!-- 'Triple stash' for at handlebars IKKE skal escape html-tags i outputen -->
{{{endringsbeskrivelse}}}
<br />

Les mer om <a href="https://lovdata.no/dokument/LTI/forskrift/2020-05-29-1102">lønnskompensasjonsforskriften</a> og <a href="https://lovdata.no/lov/1988-05-06-22">permitteringslønnsloven</a>.
<br />

#### Du har rett til å klage
Du kan klage innen seks uker fra du mottar dette vedtaket. Klagen skal være skriftlig og mest mulig konkret. Du kan
sende klagen til oss via
<a href="https://www.nav.no/klage">nav.no/klage</a>.

#### Har du spørsmål?
Du finner mer informasjon på <a href="https://www.nav.no/no/person/arbeid/lonnskompensasjon-til-permitterte">nav.no/lønnskompensasjon</a>.
Har du andre spørsmål, se hvordan du kan kontakte oss på <a href="https://www.nav.no/kontakt">www.nav.no/kontakt</a>.
<br />
<br />

Vennlig hilsen
<br />
{{fattetAvNavn}}
<br />
NAV Arbeid og ytelser lønnskompensasjon
<br /><br />