<table>
    <tr>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<table>
    <tr>
        <td class="td02">Virksomhet:</td>
        <td>{{bedriftNavn}} </td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
</table>
<br />
<br />

# Vi vurderer om dere må betale tilbake refusjon for lønnskompensasjon

Dere fikk vedtak om refusjon for forskuttert lønn til permitterte ansatte {{datoSendt}}.
Vi har fått nye opplysninger og har beregnet refusjonen på nytt.
Den nye beregningen viser at dere har fått utbetalt {{refusjonDifferanse}} kroner for mye i refusjon.
<br />

Før vi avgjør om dere skal betale tilbake, har dere rett til å uttale dere. Dette må dere gjøre innen {{dato3UkerFremITid}}.
<br />

Dette er kun et varsel om at vi vurderer å kreve tilbake det feilutbetalte beløpet. Det er ikke et vedtak om tilbakekreving.
<br />

#### Dette har skjedd i saken din
{{{endringsbeskrivelse}}}
<br />

Du finner flere detaljer om den nye beregningen vedlagt lenger ned i brevet.
<br />

#### Dette legger vi vekt på i vurderingen vår

Når vi avgjør om du skal betale tilbake vurderer vi:

<ul class="font-size-13">
    <li>om du forstod eller burde forstått at beløpet du fikk utbetalt var feil</li>
    <li>om du har gitt riktig informasjon til NAV</li>
    <li>om du har gitt all informasjon til NAV i rett tid</li>
</ul>

Hvis dere bevisst har gitt oss feil eller mangelfull informasjon eller opptrådt grovt uaktsomt, kan vi kreve at dere betaler et rentetillegg på ti prosent av beløpet.
<br/>
Dette går frem av folketrygdloven §§ 22-15 og 22-17 a.
<br/>

#### Slik uttaler du deg
Du kan sende uttalelsen din ved å logge deg inn på nav.no/skrivtiloss og velg “Jobbsøker”.
Skal du sende vedlegg må du gå til nav.no/ettersendelse. Her finner du informasjon om hvordan du ettersender på papir.
<br />

#### Hva skjer videre i saken deres?
Etter fristen for deres uttalelse vil vi vurdere saken og sende dere et vedtak. Dersom dere må betale hele eller deler av beløpet, vil dere få beskjed om hvordan dere betaler tilbake i vedtaket.
<br />

#### Har dere spørsmål?
Dere finner mer informasjon om lønnskompensasjon, refusjon og kvittering for innsendt søknadsskjema på: <a href="https://arbeidsgiver.nav.no/permittering-refusjon">https://arbeidsgiver.nav.no/permittering-refusjon</a>
Dere kan også kontakte oss på <a href="https://arbeidsgiver.nav.no/kontakt-oss">https://arbeidsgiver.nav.no/kontakt-oss</a>
<br /><br />

Vennlig hilsen
<br />
NAV
<br />
{{fattetAvNavn}}
<br /><br />

<div class="new_page" />

#### Informasjon om søkeren:
<table>
    <tr>
        <td>Inrapportert fra:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td>Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
    <tr>
        <td>Kontaktperson:</td>
        <td>{{kontaktPerson}}</td>
    </tr>
    <tr>
        <td>Telefonnummer:</td>
        <td>{{telefonNr}}</td>
    </tr>
    <tr>
        <td>E-post:</td>
        <td>{{epost}}</td>
    </tr>

</table>

<br /><br />
### Informasjon om refusjonen:


<table border="1">
    <tr>
        <th>Dato</th>
        <th>Navn</th>
        <th>Permitterings- prosent</th>
        <th>Periode</th>
        <th>Refusjon til virksomheten</th>
    </tr>
    <!-- {{#each arbeidsforhold}} -->
    <tr>
        <td>{{this.fodselsnummer}}</td>
        <td>{{this.navn}}</td>
        <td>{{this.permitteringsgrad}}</td>
        <td>{{this.periode}}</td>
        <td>{{this.refusjonTilVirksomheten}} kr</td>
    </tr>
    <!-- {{/each}} -->
    <tr>
        <td border="0" colspan="4">Sum</td>
        <td><b>{{bruttoRefusjon}} kr</b></td>
    </tr>
</table>