NAV og dere har blitt enige om dette:

<table>
    <tr >
        <td class="td02">Tiltaket:</td>
        <td>{{tiltakNavn}} </td>
    </tr>
    <tr>
        <td class="td02">Antall plasser:</td>
        <td>{{antallDeltakere}}</td>
    </tr>
    <tr>
        <td class="td02">Utbetalingsperioden:</td>
        <td>{{periode.fraDato}} - {{periode.tilDato}} </td>
    </tr>
    <tr>
        <td class="td02">Støtten fra NAV:</td>
        <td>Opptil {{totaltTilskuddbelop}} kroner. </td>
    </tr>
</table>