<table>
    <tr >
        <td>Til {{tiltakArrangor.arbgiverNavn}}</td>
        <td class="td01">{{tilsagnDato}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td01">Ref. {{tilsagnNummer.aar}}/{{tilsagnNummer.loepenrSak}}-{{tilsagnNummer.loepenrTilsagn}}</td>
    </tr>
</table>
<br/>