|                                                |                      |                                                           |
| -----------                                    | ----------------     |----                                                       |
| Til {{tiltakArrangor.arbgiverNavn}}            |                      | <span style="font-size:12px;">{{tilsagnDato}}</span>              |
|                                                |                      | <span style="font-size:12px;">Ref. {{tilsagnNummer.aar}}/{{tilsagnNummer.loepenrSak}}-{{tilsagnNummer.loepenrTilsagn}}</span>  |
<br/>