<div class="centered_text_plain">

    Unntatt offentlighet, jf. offl. § 13

</div>

<div>![NAV logo](pdf/navikon.png)</div>

<div class="left_text_plain">

    {{ tiltakArrangor.arbgiverNavn }}

</div>

​

<div class="centered_text_plain">

    Vår ref.: UKJENT - Dato: {{ tilsagnDato }}

</div>

​

<div class="line_top line_bottom line_left line_right block" style="vertical-align: bottom">

    <div class="line_right inline" style="width: 66%; margin: 0; vertical-align: bottom">

        # Tilsagn om tilskudd til Midlertidig lønnstilskudd

    </div>

</div>

<div class="left_text_plain">

    NAV {{ navEnhet.navKontorNavn }} gir {{ tiltakArrangor.arbgiverNavn }} tilsagn om tilskudd med inntil {{ totaltTilskuddbelop }} for

    {{ deltaker.fornavn }} {{ deltaker.etternavn }} - {{ deltaker.fodselsnr }}

</div>

<div class="left_text_plain">

    Tilsagnet fordeler slik: SKAL VI HA LISTING AV POSTER?

    Lønnstilskudd - LISTE-ELEM kr

    Totalt - {{ totaltTilskuddbelop }} kr

</div>

<div class="left_text_plain">

    Tilsagnet skal benyttes innen {{ periode.fraDato }} til {{ periode.tilDato }}. Tilsagnet er gitt under forutsetning av at vilkår og regelverk for tiltak følges, se vedlegg.

</div>

<div class="left_text_plain">

    Refusjonskravet må fremmes innen HVA BLIR FRIST-DATO?. Tilsagnet trekkes tilbake dersom refusjonskravet ikke blir sendt NAV {{ navEnhet.navKontorNavn }} i rett tid.

</div>

<div class="left_text_plain">

    NAV og Riksrevisjonen kan kontrollere bruken av midlene, i henhold til vilkårene i Bevilgningsregelementet § 10.

</div>

<div class="left_text_plain">

    Mottakers organisasjonsnummer: - {{ tiltakArrangor.orgNummer }}

    ​ Mottakers bedriftsnummer: - MANGLER ​

    Mottakers kontonummer: - {{ tiltakArrangor.kontoNummer }}

</div>

<div class="left_text_plain">

    Skjema for refusjonskrav finnes på www.nav.no.

</div>

<div class="left_text_plain">

    Vedlagt følger kravsprsifikasjon med regler for denne tilskuddsordningen.

</div>

<div class="left_text_plain">

    Med hilsen

</div>

<div class="left_text_plain">

    {{ saksbehandler.fornavn }} {{ saksbehandler.etternavn }}

</div>