<table>
    <tr>
        <td></td>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td class="td02">Virksomhet:</td>
        <td>{{bedriftNavn}} </td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
</table>


<br/>
<br/>

# Vi har endret refusjonen deres

Basert på endringene fra dere, som vi mottok {{tidspunktFraKlageSkjema}}, har vi refundert ytterligere <b>{{differanseFraForrigeBeløp}}</b> kr for forskuttert lønn for permitterte ansatte.

I vedtaket av {{forrigeVedtakDato}} fikk dere {{forrigeBeløp}} kr. Den nye totalsummen er {{summertRefusjonsbelop}} kr.

</br>

{{endringsbeskrivelse}}

</br>

Vedtaket er gjort etter reglene i forskrift om lønnskompensasjon <a href="https://lovdata.no/dokument/LTI/forskrift/2020-05-29-1102">§ 9</a> og forvaltningsloven § 35.

Se vedlegg for detaljer og oversikt over ansatte som inngår i vedtaket.

### Kontonummer
For at dere skal motta refusjon for forskuttert lønn, må vi ha korrekt og gyldig kontonummer på gjeldende organisasjonsnummer.

Dere kan endre kontonummer på www.altinn.no under «Skjema og tjenester».

### Dere har rett til å klage på dette vedtaket
Dere kan klage innen 6 uker fra du mottar dette vedtaket. Klagen skal være skriftlig. Dere finner informasjon om klage på <a href="https://www.nav.no/soknader/nb/bedrift/covid-19/lonnskompensasjon-og-refusjon-ved-permittering-endring">Min side – arbeidsgiver</a>

### Har du spørsmål?
Dere finner mer informasjon om permittering på <a href="https://arbeidsgiver.nav.no/arbeidsgiver-permittering">arbeidsgiver.nav.no/arbeidsgiver-permittering</a>. Har dere spørsmål kan dere kontakte oss på <a href="https://arbeidsgiver.nav.no/kontakt-oss/">arbeidsgiver.nav.no/kontakt-oss</a>


</br>
Vennlig hilsen

NAV

<br/>

{{fattetAvNavn}}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Vedlegg: Grunnlag for vedtaket

### Informasjon om søkeren
<table>
    <tr>
        <td class="td02">Innrapportert fra:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
    <tr>
        <td class="td02">Kontaktperson:</td>
        <td>{{kontaktNavn}}</td>
    </tr>
    <tr>
        <td class="td02">Telefonnummer:</td>
        <td>{{kontaktTlf}}</td>
    </tr>
    <tr>
        <td class="td02">E-post:</td>
        <td>{{kontaktEpost}}</td>
    </tr>
</table>

## Informasjon om refusjonen

<table border="1">
    <tr>
        <th>Fødselsnummer</th>
        <th>Navn</th>
        <th>Lønn per dag</th>
        <th>Permitterings- prosent</th>
        <th>Periode</th>
        <th>Refusjon til deres virksomhet</th>
        <th>Avkortet 6G</th>
    </tr>
    <!-- {{#each arbeidsforhold}} -->
    <tr>
        <td>{{this.fnr}}</td>
        <td>{{this.navn}}</td>
        <td>{{this.dagsats}}</td>
        <td>{{this.permitteringsprosent}}</td>
        <td>{{this.periode}}</td>
        <td>{{this.refusjonsbeløp}} kr</td>
        <td>{{this.overstiger6G}}</td>
    </tr>
    <!-- {{/each}} -->
    <tr>
        <td border="0" colspan="5">Sum</td>
        <td><b>{{summertRefusjonsbelop}} kr</b></td>
    </tr>
</table>
