<table>
    <tr>
        <td></td>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{navn}} </td>
    </tr>
    <tr>
        <td class="td02">Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
</table>

<br />
<br />

## Du vil få utbetalt mer lønnskompensasjon
<br />

{{#eq førsteHulldagDato "14. april 2020"}}
Vi har gått gjennom sakene dine på dagpenger og lønnskompensasjon, og ser at du skulle hatt dagpenger 14. april 2020. Det har du ikke fått, derfor får du nå lønnskompensasjon for denne dagen. For deg betyr dette at du får mer penger enn hvis vi hadde utbetalt dagpenger for denne perioden.
{{/eq}}
{{#neq førsteHulldagDato "14. april 2020"}}
Vi har gått gjennom sakene dine på dagpenger og lønnskompensasjon, og ser at du skulle hatt dagpenger fra {{førsteHulldagDato}} til 14. april 2020. Det har du ikke fått, derfor får du nå lønnskompensasjon for disse dagene. For deg betyr dette at du får mer penger enn hvis vi hadde utbetalt dagpenger for denne perioden.
{{/neq}}

<br />

Du får {{differanseFraForrigeBeløp}} kroner mer i lønnskompensasjon. Dette beløpet er før skatt. Pengene kommer på kontoen din innen fem til syv dager.
<br />

Utbetalingen din og skattetrekket sjekker du på <a href="https://www.nav.no/utbetalinger">nav.no/utbetalinger</a>. Hvis vi ikke har registrert skattekort på deg, trekkes automatisk 50 prosent skatt på utbetalingen. Du kan lese mer om dette på <a href="https://www.nav.no/skatt">nav.no/skatt</a>.

Beslutningen om utbetaling er gjort etter reglene i midlertidig forskrift om lønnskompensasjon § 12. Du kan lese forskriften her: <a href="https://lovdata.no/LTI/forskrift/2020-05-29-1102/§12">https://lovdata.no/LTI/forskrift/2020-05-29-1102/§12</a>
<br />

#### Du har rett til å klage
Du kan klage innen seks uker fra du mottar denne beslutningen. Klagen skal være skriftlig og mest mulig konkret. Du kan
sende klagen til oss via <a href="https://klage.nav.no/nb/">nav.no/klage</a>.
<br />

#### Har du spørsmål?
Du finner mer informasjon på <a href="https://www.nav.no/lønnskompensasjon">nav.no/lønnskompensasjon</a>. Har du andre spørsmål, kan du kontakte oss på <a href="https://www.nav.no/kontakt">nav.no/kontakt</a>.
<br />
<br />

Hilsen NAV
<br /><br />
Dette vedtaket har blitt automatisk saksbehandlet. Vedtaksbrevet er derfor ikke underskrevet av saksbehandler.
