<div id="content">
<table>
    <tr>
        <td></td>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br />
<table>
    <tr>
        <td class="td02">Navn:</td>
        <td>{{navn}} </td>
    </tr>
    <tr>
        <td class="td02">Fødselsnummer:</td>
        <td>{{fnr}}</td>
    </tr>
</table>

<br />
<br />

## Du må betale tilbake lønnskompensasjon
<br />

{{#if varselSendtTidspunkt}}Vi varslet deg {{varselSendtTidspunkt}} om at du har fått utbetalt for mye lønnskompensasjon.{{/if}}

{{#if harKravPaLoennskomp}}
Du har rett til {{totalKompensasjon}} kroner i lønnskompensasjon, men har fått {{forrigeVedtakBeløp}} kroner.
Det feilutbetalte beløpet før skatt er {{tilbakekrevingAttributter.bruttoBelop}} kroner.
{{else}}
Du oppfyller ikke kravene for lønnskompensasjon,  men har fått {{forrigeVedtakBeløp}} kroner.
Det feilutbetalte beløpet før skatt er {{tilbakekrevingAttributter.bruttoBelop}} kroner.
{{/if}}

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "DELVIS_TILBAKEKREVING"}}
Vi har kommet fram til at du må betale tilbake deler av dette beløpet.
Beløpet du skal betale tilbake etter skatt er {{tilbakekrevingAttributter.nettoRedusertInnkrevingBelop}} kroner.
{{/eq}}

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_UTEN_RENTER"}}
Vi har kommet fram til at du må betale tilbake hele dette beløpet.
Beløpet du skal betale tilbake etter skatt er {{tilbakekrevingAttributter.nettoBelop}} kroner.
{{/eq}}

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
Vi har kommet fram til at du må betale tilbake hele dette beløpet.
Beløpet du skal betale tilbake etter skatt er {{tilbakekrevingAttributter.nettoMedRenter}} kroner. Dette er inkludert et rentetillegg på 10 %.
{{/eq}}

#### Hvordan betale tilbake pengene du skylder?
Du vil i løpet av 3-7 dager motta et krav med informasjon om hvordan du betaler tilbake det du skylder.
Du finner mer informasjon på <a href="www.nav.no/innkreving">www.nav.no/innkreving</a>.

#### Hvordan har vi kommet fram til dette?
<p>
{{{endringsbeskrivelse}}}
</p>

<br/>

{{#if harKravPaLoennskomp}}
I tabellen under kan du se en ny og detaljert oversikt over lønnskompensasjon du har rett til.
{{/if}}

#### Er det særlige grunner til å redusere beløpet?
<p>
{{{tilbakekrevingAttributter.saerligeGrunnerReduksjonBeskrivelse}}}
</p>

{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
#### Renter
Vi har vurdert at du har handlet grovt uaktsomt eller forsettlig fordi du har gitt feilaktige eller mangelfulle opplysninger til NAV.
Derfor må du betale et rentetillegg på 10%. Det vil si {{tilbakekrevingAttributter.renteBelop}} kroner i tillegg til det feilutbetalte beløpet.
Dette går fram av folketrygdloven § 22-17 a.
{{/eq}}

#### Skatt
Beløpet du skal betale tilbake etter skatt er trukket fra, er beregnet etter ditt skattetrekk på utbetalingen. <br/><br/>
NAV gir opplysninger til Skatteetaten om skattebeløpet og om beløpet du skal betale tilbake før skatt er trukket fra. Skatteetaten vil vurdere om det er grunnlag for å endre skatteoppgjøret ditt.

#### Du har rett til å klage 
Du kan klage innen seks uker fra du mottar dette vedtaket. Klagen skal være skriftlig og mest mulig konkret. Du kan sende klagen til oss via <a href="https://klage.nav.no/nb/korona/lonnskompensasjon">https://klage.nav.no/nb/korona/lonnskompensasjon</a>.
Du må som hovedregel begynne å betale beløpet tilbake selv om du klager på dette vedtaket. Hvis du får medhold i klagen, vil vi betale beløpet tilbake til deg.

#### Du har rett til innsyn
På <a href="www.nav.no/dittnav">www.nav.no/dittnav</a> kan du se dokumentene i saken din.

#### Har du spørsmål? 
Du finner mer informasjon på <a href="www.nav.no/lonnskompensasjon">www.nav.no/lonnskompensasjon</a>. Utbetalingen din og skattetrekket sjekker du på <a href="www.nav.no/utbetalinger">www.nav.no/utbetalinger</a>.  Har du andre spørsmål, se hvordan du kan kontakte oss på <a href="www.nav.no/kontakt">www.nav.no/kontakt</a>.

 </br>

Vennlig hilsen </br>

<table style="text-align: left;">
<tr class="vennlig-hilsen-row">
<td>{{fattetAvNavn}}</td>
<td>{{attestantNavn}}</td>
</tr>
<tr class="vennlig-hilsen-row">
<td>NAV Arbeid og ytelser lønnskompensasjon</td>
<td>NAV Arbeid og ytelser lønnskompensasjon</td>
</tr>
</table>
<br />
<br />

<div class="new_page"/>

### Detaljer for den nye beregningen:

<table style="text-align: left;">
<tr class="vennlig-hilsen-row">
<td>Arbeidsgiver:</td>
<td>{{bedriftNavn}}</td>
</tr>
<tr class="vennlig-hilsen-row">
<td>Organisasjonsnummer:</td>
<td>{{bedriftNr}}</td>
</tr>
<tr class="vennlig-hilsen-row">
<td>Startdato permittering (dag 1):</td>
<td>{{fom}}</td>
</tr>
<tr class="vennlig-hilsen-row">
<td>Sluttdato periode:</td>
<td>{{tom}}</td>
</tr>
</table>
<br/><br/>

#### Oversikt over resultatet av tilbakebetalingssaken

<br/>
<table border="1" class="strafferunde-table" >
<tr class="strafferunde-table-header">
<td>Periode</td>
<td>Feilutbetalt beløp</td>
<td>Tilbakebetaling</td>
<td>Beløp før skatt</td>
<td>Beløp skatt</td>
{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
<td>Beløp du skal</br> betale tilbake</br> etter skatt</br>er trukket fra </br>pluss renter</td>
{{/eq}}
{{#neq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
<td>Beløp du skal</br> betale tilbake</br> etter skatt</br>er trukket fra</td>
{{/neq}}
</tr>
<tr class="strafferunde-row">
<td>{{fom}}</br>-</br>{{tom}}</td>
<td>{{tilbakekrevingAttributter.bruttoBelop}} </br>kroner</td>
<td>{{tilbakekrevingAttributter.prosentAndelInnkreves}}%</td>
<td>{{tilbakekrevingAttributter.bruttoRedusertInnkrevingBelop}} </br> kroner</td>
<td>{{tilbakekrevingAttributter.skattBelop}} </br> kroner</td>
{{#eq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
<td>{{tilbakekrevingAttributter.nettoMedRenter}} </br> kroner</td>
{{/eq}}
{{#neq tilbakekrevingAttributter.tilbakekrevingKategori "FULL_TILBAKEKREVING_MED_RENTER"}}
<td>{{tilbakekrevingAttributter.nettoRedusertInnkrevingBelop}} </br> kroner</td>
{{/neq}}
</tr>
</table>
<br /><br />
{{#if harKravPaLoennskomp}}

#### Oversikt over ny beregning av lønnskompensasjon
<br />

<table border="1">
<tr>
<th>Dato</th>
<th>Lønn per dag</th>
<th>Permitterings- prosent</th>
<th>Refundert til arbeidsgiver</th>
<th>Avkorting 6G</th>
<th>Lønn før skatt</th>
<th></th>
</tr>
<!-- {{#each dagBeregninger}} -->
<tr>
<td>{{this.dato}}</td>
<td>{{this.dagsats}}</td>
<td>{{this.permitteringsgrad}}</td>
<td>{{this.refusjonssbeløp}}</td>
<td>{{this.overstiger6G}}</td>
<td>{{this.lønnskompensasjonsbeløp}}</td>
<td>{{this.dagtype}}</td>
</tr>
<!-- {{/each}} -->
<tr>
<td border="0" colspan="5">Sum</td>
<td><b>{{totalKompensasjon}}</b></td>
</tr>
</table>
{{/if}}
</div id="content">
