<table>
    <tr>
        <td></td>
        <td class="td350">{{datoSendt}}</td>
    </tr>
    <tr>
        <td></td>
        <td class="td350">Ref. 2020/{{id}}</td>
    </tr>
</table>
<br/>
<table>
    <tr>
        <td class="td02">Virksomhet:</td>
        <td>{{bedriftNavn}} </td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
</table>


<br/>
<br/>

# Vi har endret lønnskompensasjonen for deres ansatte

Vi har mottatt nye opplysninger som gjør at vi har endret lønnskompensasjonen for deres permitterte ansatte. Se vedlegget for detaljer og oversikt over de ansatte om er berørt.

Endringene har ikke medført endringer i refusjon til dere.

{{{endringsbeskrivelse}}}

### Arbeidstakeren kan klage på vedtaket
For at dere skal motta refusjon for forskuttert lønn, må vi ha korrekt og gyldig kontonummer på gjeldende organisasjonsnummer.

### Dere har rett til å klage på dette vedtaket
Arbeidstakeren må selv klage innen 6 uker fra de mottar sitt vedtak. Arbeidsgiver kan ikke klage på arbeidstakers vegne.

### Har du spørsmål?
Du finner mer informasjon om permittering på <a href="https://arbeidsgiver.nav.no/arbeidsgiver-permittering">arbeidsgiver.nav.no/arbeidsgiver-permittering</a>. Har du andre spørsmål kan du kontakte oss på <a href="https://arbeidsgiver.nav.no/kontakt-oss/">arbeidsgiver.nav.no/kontakt-oss</a>.


Vennlig hilsen

NAV

<br/>

{{fattetAvNavn}}

<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>
<br/>

## Vedlegg: Grunnlag for vedtaket

### Informasjon om søkeren
<table>
    <tr>
        <td class="td02">Innrapportert fra:</td>
        <td>{{bedriftNavn}}</td>
    </tr>
    <tr>
        <td class="td02">Bedriftsnummer:</td>
        <td>{{bedriftNr}}</td>
    </tr>
    <tr>
        <td class="td02">Kontaktperson:</td>
        <td>{{kontaktNavn}}</td>
    </tr>
    <tr>
        <td class="td02">Telefonnummer:</td>
        <td>{{kontaktTlf}}</td>
    </tr>
    <tr>
        <td class="td02">E-post:</td>
        <td>{{kontaktEpost}}</td>
    </tr>
</table>

## Informasjon om de ansatte som er berørt av endringene

<table border="1">
    <tr>
        <th>Fødselsnummer</th>
        <th>Navn</th>
        <th>Lønn per dag</th>
        <th>Permitterings- prosent</th>
        <th>Periode</th>
        <th>Refusjon til deres virksomhet</th>
        <th>Avkortet 6G</th>
    </tr>
    <!-- {{#each arbeidsforhold}} -->
    <tr>
        <td>{{this.fnr}}</td>
        <td>{{this.navn}}</td>
        <td>{{this.dagsats}}</td>
        <td>{{this.permitteringsprosent}}</td>
        <td>{{this.periode}}</td>
        <td>{{this.refusjonsbeløp}} kr</td>
        <td>{{this.overstiger6G}}</td>
    </tr>
    <!-- {{/each}} -->
    <tr>
        <td border="0" colspan="5">Sum</td>
        <td><b>{{summertRefusjonsbelop}} kr</b></td>
    </tr>
</table>
